<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/news.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <meta name="keywords" content="个税计算器,个税累计预扣法,个人所得税计算器,个税计算器2019,个人所得税">
  <meta name="description" content="2019年最新个人所得税计算器，采用2019年最新个税税率表，提供工资、税后工资、年终奖、劳务报酬等个税累计预扣预缴计算方法，2019年最好用的个税计算器,个税管理专家。">
  <script type="text/javascript" src="/js/my.js"></script>
  <script type="text/javascript" src="/js/shuilv.js"></script>
  <title>个税计算器2019</title>
</head>

<body>
<div class="head">
  <div class="inner_c">
    <div class="nav" id="nav">
      <ul>
        <li id="shouYe"><a href="/index.html">首页</a></li>
        <li id="shuiLvBiao"><a href="/shuilv.html">2019个税税率表</a></li>
        <li id="shuiNews" class="current"><a href="/news">个税资讯</a></li>
      </ul>
      <ol class="fr">
        <li><a href="#">小程序</a></li>
        <li><a href="#">公众号</a></li>
        <li><a href="#">QQ群</a></li>
        <li><a href="#">联系我们</a></li>
        <div class="qrcode" id="qrcode"><img src="../images/qrcode.png" alt=""></div>
      </ol>
    </div>
  </div>
</div>
<div class="main">
  <div class="inner_c">
    <div class="gap"></div>
    <div class="content clearfix">
      <p class="title"><a href="/news">资讯</a>></p>
      <ul class="fl">
        <p>计算器资讯</p>
        <% news.forEach(function (item, index) { %>
        <li><a href="<%= item["href"] %>"><%=item["title"]%></a></li>
        <% }); %>
      </ul>
      <ul class="fl">
        <p>计算器资讯</p>
        <% news.forEach(function (item, index) { %>
        <li><a href="<%= item["href"] %>"><%=item["title"]%></a></li>
        <% }); %>
      </ul>
      <ul class="fl">
        <p>计算器资讯</p>
        <% news.forEach(function (item, index) { %>
        <li><a href="<%= item["href"] %>"><%=item["title"]%></a></li>
        <% }); %>
      </ul>
      <ul class="fl">
        <p>计算器资讯</p>
        <% news.forEach(function (item, index) { %>
        <li><a href="<%= item["href"] %>"><%=item["title"]%></a></li>
        <% }); %>
      </ul>
    </div>
  </div>
</div>
<div class="gap"></div>
<div class="footer">
  <div class="inner_c">
    <div class="beiAn">京ICP备xxxxxxxx号-x    Copyright &copy; 2019. All Rights Reserved.</div>
  </div>
</div>
</body>

</html>